<div>
    <br> 
    <form action="" class="form-group row" #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
        <div class="form-group col-md-3">
            <input class="form-control" type="email" value="" name="email" placeholder="email" ngModel>
        </div>
        <div class="form-group col-md-3">
            <input class="form-control" type="password" placeholder="password" name="password" ngModel>
        </div>
        <br><br>
        <div>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>